.support {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 261px;
    background-image: url("../img/example-footer-mobile.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .support {
        background-image: url("../img/example-footer-mobile@2x.png");
        background-size: 360px 261px;
    }
}
.support__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
}
.support__head {
    width: 88.888%;
    margin-bottom: 13px;
}
.support__text {
    padding: 0;
    margin: 0;
    margin-bottom: 38.5px;
    width: 85.833%;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: $text-color;
}
@media (min-width: $screen-desktop) {
    .support {
        padding-top: 91px;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 0;
        background-image: url("../img/example-footer.png");
        background-position: left center;
    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .support {
            background-image: url("../img/example-footer@2x.png");
            background-size: 666px 483px;
        }
    }
    .support__description {
        width: 38.472%;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 9.861%;
        margin-bottom: 98px;
    }
    .support__head {
        margin-bottom: 35px;
        text-align: left;
    }
    .support__text {
        width: 96.57%;
        margin-bottom: 38px;
        text-align: left;
    }
}
