.app {
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.app__link {
    display: flex;
    background-color: #000;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
}
.app__link:hover {
    background-color: rgb(44, 42, 42);
}
.app__link:active {
    opacity: 0.6;
}
.app__link-apple {
    padding: 5.62px 11.46px 4.13px 11.51px;
}
.app__link-google {
    padding: 5.62px 16.42px 5.5px 10.94px;
}
.app__logo {
    width: 25px;
    height: 28px;
    margin-right: 11px;
}
.app__download-apple,
.app__download-google,
.app__app-store,
.app__google-play {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
}
.app__download-apple {
    font-size: 9.34901px;
    line-height: 11px;
}
.app__download-google {
    font-size: 10.2863px;
    line-height: 12px;
}
.app__app-store {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
}
.app__google-play {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    line-height: 19px;
    font-weight: 300;
}
.app__google-text {
    margin-top: 3px;
    margin-right: 4px;
    margin-left: -2px;
}
@media (min-width: $screen-desktop) {
    .app {
        width: 348px;
    }
    .app__logo {
        margin-right: 13px;
    }
    .app__link-apple {
        padding: 6px 13px 4px 12px;
    }
    .app__link-google {
        padding: 6px 19px 5px 14px;
    }
    .app__download {
        font-size: 10px;
        line-height: 12px;
    }
    .app__app-store {
        font-size: 21.2716px;
        line-height: 25px;
    }
    .app__google-play {
        font-size: 17.6041px;
        line-height: 21px;
    }
}