@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

body {
  font-family: "Lato", 'Times New Roman', Times, serif; }

img {
  max-width: 100%; }

.page-header {
  background-color: #F4F6F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.page-header__logo {
  margin-top: 32px;
  margin-bottom: 86px; }

.page-header__logo-img {
  width: 99px;
  height: 32px; }

.page-header__access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88.888%; }

.page-header__title,
.page-header__description {
  padding: 0;
  margin: 0; }

.page-header__title {
  margin-bottom: 33px;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  color: #333333; }

.page-header__description {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F;
  margin-bottom: 50px; }

.page-header__app {
  margin-bottom: 59px; }

@media (min-width: 1400px) {
  .page-header {
    align-items: flex-start;
    background-image: url("../img/example.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain; } }

@media (min-width: 1400px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1400px) and (min-resolution: 144dpi), (min-width: 1400px) and (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/example@2x.png"); } }

@media (min-width: 1400px) {
  .page-header__logo {
    margin-left: 11.642%;
    margin-bottom: 133px;
    margin-top: 61px; }
  .page-header__access {
    align-items: flex-start;
    width: 88.358%;
    margin-left: 11.642%; }
  .page-header__title,
  .page-header__description {
    text-align: left; }
  .page-header__title {
    font-size: 36px;
    line-height: 48px;
    width: 44.139%;
    margin-bottom: 30px; }
  .page-header__description {
    font-size: 18px;
    line-height: 26px;
    width: 36.62%; }
  .page-header__app {
    margin-bottom: 164px; } }

.app {
  display: flex;
  justify-content: space-between;
  width: 320px; }

.app__link {
  display: flex;
  background-color: #000;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border-radius: 7px; }

.app__link-apple {
  padding: 5px 11px 5px 11px; }

.app__link-google {
  padding: 5px 17px 5px 12px; }

.app__logo {
  width: 25px;
  height: 28px;
  margin-right: 11px; }

.app__download,
.app__app-store,
.app__google-play {
  font-family: "Roboto";
  padding: 0;
  margin: 0; }

.app__download {
  font-size: 9.34901px;
  line-height: 11px; }

.app__app-store {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500; }

.app__google-play {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: 300; }

@media (min-width: 1400px) {
  .app {
    width: 348px; }
  .app__logo {
    margin-right: 13px; }
  .app__link-apple {
    padding: 6px 13px 4px 12px; }
  .app__link-google {
    padding: 6px 19px 5px 14px; }
  .app__download {
    font-size: 10px;
    line-height: 12px; }
  .app__app-store {
    font-size: 21.2716px;
    line-height: 25px; }
  .app__google-play {
    font-size: 17.6041px;
    line-height: 21px; } }

.description__experience {
  width: 88.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

.description__title {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 54px;
  margin-bottom: 27px;
  color: #00ADEE; }

.description__head {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  color: #333333; }

.description__text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F; }

.description__text-part1 {
  margin-bottom: 30px; }

.description__text-part2 {
  margin-bottom: 19px; }

.description__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #00ADEE;
  margin-bottom: 22px; }

.description__link:hover {
  opacity: 0.6; }

.description__game {
  background-image: url("../img/ronaldo-mobile.png");
  background-repeat: no-repeat; }

.game {
  background-color: red;
  width: 247.21px; }

.game__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10.81px 18.7px 10.09px 11.51px; }

.game__date {
  font-size: 11.5px;
  line-height: 15px;
  font-weight: bold;
  color: #4F4F4F;
  margin-bottom: 8.63px; }

.game__teams,
.game__match {
  margin: 0;
  padding: 0; }

.game__teams {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 9.35px;
  max-width: 52px; }

.game__match {
  font-size: 11px;
  line-height: 14px; }

.game__arsenal-logo {
  width: 48.76px;
  height: 57.53px; }

.game__chelsea-logo {
  width: 57.66px;
  height: 57.53px; }

.game__notifications {
  background-color: #EEEEEE; }
